/* Nice font for button from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #171717e6;
    border-radius: 10px;
}

#container {
    position: absolute;
    height: auto;
    top: 15%;
    right: 82%;
    border-radius: 5px;
    background: transparent !important;
}
.button {
    cursor: pointer;
    display: flex;
    flex-direction: row !important;
    gap: 3px;
}
.title {
    cursor: default;
    gap: 0px;
    display: flex;
    flex-direction: row !important;
    animation: mymove 0.75s;
    animation-delay: 0s;
}

@keyframes mymove {
    from {left: -150px;}
    to {left: 0;}
}

#buttons {
    max-height: 75vh;
    width: 300px;
    /* left: 0px; */
    overflow-x: none;
    overflow-y: auto;
    /* padding: 10px; */
}

html,
body {
    background: transparent !important;
}

.button {
    width: auto;
    height: 10%;
    background: rgb(47, 51, 50);
    color: white;
    margin: auto;
    position: relative;
    /* left: 0%; */
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 0.15rem;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    animation: mymove 0.75s;
    animation-delay: 0s;
    /* box-shadow: 0rem 0rem 0.5rem 0.05rem #000000; */
    cursor: pointer;
}

@keyframes mymove {
    from {left: -150px;}
    to {left: 0;}
}

.icon {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
}

.button:hover {
    background-color: #008362;
}

.title {
    width: auto;
    height: 10%;
    background: rgb(47, 51, 50);
    color: white;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 0.45rem;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0rem 0rem 0.5rem 0.05rem #eb0b0b; */
}

.title > div.column > div.header {
    text-decoration: underline !important;
}

.disabled {
    background: rgba(102, 102, 102, 0.9) !important;
    cursor: default;
}

div > .text {
    flex-direction: column;
    font-size: 0.75rem;
    overflow: hidden;
}

div > .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    overflow: hidden;
}
